@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";
@import "../../assets/styles/constants";

.panel {
  border: solid 2px $border-color;
  border-radius: $border-radius;
  padding: 2rem 3rem;
  display: flex;
  background-color: white;
  flex-flow: column nowrap;
  max-width: 400px;
  min-width: 250px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

  .text {
    h2 {
      margin: 0 0 1rem;
      font-weight: 700;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 15px;

    svg {
      width: 2rem;
      height: 2rem;
      stroke: $primary-color;

      @include hover-lighten;
    }
  }
}

.switchButton {
  margin: 1rem 0;
  align-self: center;
  border: 2px solid $border-color;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 14px;
    width: 14px;
    transition: transform 0.2s;
    stroke: $primary-dark-color;
  }

  @include hover-lighten;

  &:hover {
    svg {
      transform: rotate(-180deg);
    }
  }
}

.info {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  align-content: center;
  gap: 10px;

  span {
    flex: 1;
  }
}
.enter {
  opacity: 0;
  transform: translateX(-100px);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.3s, transform 0.3s;
}