@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: whitesmoke;
  text-decoration: inherit;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.bg-layout_dark {
  background-color: "#0F0C1D !important";
}

.go3974562317 {
  background: linear-gradient(to top right, #025de7, #0366fc) !important;
  height: 56px !important;
  width: 200px !important;
}
#ton-connect-button button {
  border-radius: 12px !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  align-content: center !important;
  gap: 12px !important;
  padding-left: 12px !important;
}
.go1487791704 {
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
}
.go3572451881 {
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 460px) {
  .go3974562317 {
    background: linear-gradient(to top right, #025de7, #0366fc) !important;
    height: 35px !important;
    width: 135px !important;
    padding: 0px !important;
  }
  .go1487791704 {
    font-size: 12px !important;
    font-family: "Montserrat", sans-serif;
  }
  .go3572451881 {
    font-size: 12px !important;
    font-family: "Montserrat", sans-serif;
  }
  #ton-connect-button button {
    border-radius: 12px !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;
    align-content: center !important;
    gap: 4px !important;
    padding-left: 0px !important;
    padding-right: 5px !important;
  }
}

input {
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent !important;
  appearance: none;
  width: 100%;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }
}

.swap-button {
  border-radius: 12px;
  background: linear-gradient(90deg, #b5d73e 0%, #06a5ff 100%),
    linear-gradient(90deg, #025de7 0%, #0366fc 100%);
}
